{# The DS 2505 Login/Sign-in Page #}
{# Inherit the code from the base template #}
{% extend 'base.html' %}
{# specify the page title #}
{% block page_title %} Login {% endblock page_title %}
{% block page_title %} {% endblock page_title %}
{% block page_heading %}
   Login/Sign-in Page
{% endblock %}
{% block embed_style_or_script %}
    {# Get the bootstrap CSS from the CDN #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrapp@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" crossorigin="anonymous"/>
{% endblock %}

{% block page_content %}
    {# TODO: Add Flash message for failed login #}
    {# Flash message #}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div clas="alert alert-{{category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-labe;="close"/>

                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


  {# Login Form #}
  <form id="frmLogin" method="post" action="">
      {{ form.hidden_tag() }} {# The site's CSRF token #}
      <fieldset>
          <legend>Login Details</legend>
          <div class="mb-3">
              {{ form.email(class="form-label") }}}
              {{ form.email(class="form-control", placeholder="me@email.com")) }}
          </div>
           <div class="mb-3">
              {{ form.password(class="form-label") }}}
              {{ form.password(class="form-control", placeholder="secr3t passw0rd")) }}
          </div>

      </fieldset>
      <br/>
      <div class="mb-3">
          {{ form.submit (class="btn btn-primary") }}
      </div>
  <div class="mb-3">
      <p>Don&squo; have an account? <a href="{{ url_for('sign-up')}}">Register/Sign-up</a></p>
      </div>
  </form>
  <p>Your browser is:<br/>{{user_agent}}<p/>{% endblock %}