{# The DS 2505 site's Succesful regstration or login page #}
{# Inherit the code from the base template #}
{% extend 'base.html' %}
{# specify the page title #}
{% block page_title %} Registration/Login Success {% endblock page_title %}
{% block page_title %} Registeration/Login Success {% endblock page_title %}
{% block page_heading %}
    Welcome, you have sucessfully registration or signed in.
{% endblock %}

{% block page_content %}
   <div class="container mt-5">
       <div class="alert alert-success" role="alert">
           <h4 class="alert-heading">Success!</h4>

           <p>Your registration/sign-in was successful i:<br/> {{ user_agent }}</p>
       </div>
   </div>
  <h2>Hello World from Flask!!!</h2>
  <p>Your browser is:<br/>{{user_agent}}<p/>{% endblock %}